@use "./resetCss.scss";
@use "sass:math";

$primary: #E0F2F1;
$secondary: #B2DFDB;
$third: #80CBC4;
$fourth: #4DB6AC;
$teal: #009688;

html {
    font-size: 62.5% ;
}

/*
display設定
*/
.flex {
    display: flex;
}
.inline-block{
    display: inline-block;
}
.block {
    display: block;
}

/*
寄せの設定
*/
.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

/*
色設定
*/
.bgcolor-pr {
    background-color: $primary;
}
.bgcolor-se {
    background-color: $secondary;
}
.bgcolor-th {
    background-color: $third;
}
.bgcolor-fo {
    background-color: $fourth;
}
.bgcolor-te {
    background-color: $teal;
}


/*
フォント設定
*/
@for $i from 10 through 30 {
    .fs#{$i}r {
        font-size: #{math.div($i, 10)}rem
    };
}


/*
大きさの変更
*/


@for $i from 1 through 10000 {
    .he-#{$i} {
        height: #{$i}rem;
    };
}

@for $i from 1 through 10000 {
    .wi-#{$i} {
        width: #{$i}rem;
    };
}

/*
ポジションの変更
*/

@for $i from -10000 through 10000 {
    .tp-#{$i} {
        top: #{$i}px
    };
}

@for $i from -10000 through 10000 {
    .lf-#{$i} {
        left: #{$i}px
    };
}


/*
影
*/

.shadow1 {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

/*
角丸
*/
@for $i from 1 through 10 {
    .br-#{$i} {
        border-radius: #{$i}px
    };
}