.fs10r {
  font-size: 1rem;
}

.fs11r {
  font-size: 1.1rem;
}

.fs12r {
  font-size: 1.2rem;
}

.fs13r {
  font-size: 1.3rem;
}

.fs14r {
  font-size: 1.4rem;
}

.fs15r {
  font-size: 1.5rem;
}

.fs16r {
  font-size: 1.6rem;
}

.fs17r {
  font-size: 1.7rem;
}

.fs18r {
  font-size: 1.8rem;
}

.fs19r {
  font-size: 1.9rem;
}

.fs20r {
  font-size: 2rem;
}